<!--# Within here, stock will be added to portfolio. investor adds ticker, as well as quantity. 
this will save a transaction in portfolio (buy/sell, quantity, price, ticker)


-->

<h3><%= @company.company_name %></h3>
# <p>Price: <%= @quote.latest_price %></p>
<p>Quantity</p>
