<div>
<h3 class="title">Create Stock</h3>
  
<h4>Stock you want to add to list:</h4><br>

<%= form_for @stock do |f|%>
  <%= f.label :ticker %>
  <%= f.text_field :ticker%><br><br>

  <%=f.submit "add to watch" %>
<%end%>
</div>