/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 body {
    color: rgb(78, 1, 1);
    background-color: rgb(65, 64, 64);
    text-align: center;
    text-shadow: 1px 1px;
    font-family: monospace;
    font-size: 17px;
  }
  
  a:link, a:visited {
    background-color:lightslategray;     
    color: rgb(56, 56, 56);
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    outline-style: ridge;
    margin: 15px;
  }

  a:hover, a:active {
    background-color: rgb(177, 206, 233); 
  }
  
  .double {outline-style: double;}
  
  .solid {border-style: solid;}
  
  div {
    width: 600px;
   
    margin: 20px;
    margin:0px auto;
    background-color: lightgray;
    outline-style: double;
  } 

  .border {
      border: solid;
  }

  marquee.back {
      background-color: gainsboro;
      padding: 5px;
  }
  
  .head {
    background-color: black;
    border-style: double;
    color: rgb(150, 40, 40);
    font-size: 45px;
    font-family: fantasy;
    line-height: 30px;
    padding: 0px 15px;
    margin: 0px;
} 

.nav li {
    display: inline-block;
    line-height: 30px;
    padding: 0px 15px;
    margin: 0px;
    font-size: 17px;
  }
 
  .nav li a {
   text-decoration: none;
   font-weight: 800;
   font-size: 17px;
 }
 
 .right {
   float: right;
 }

 .size {
    font-size: 20px;
 }

.cap {
    text-transform: uppercase;
}

.size2 {
    font-size: 29px;
}

.size3 {
    font-size: 32px;
}

.title {
    background-color: black;
    border-style: double;
    color: rgb(150, 40, 40);
    padding: 14px 25px;
    display: inline-block;
    margin: 20px;
}

.buy {
    background-color: mediumaquamarine;
}

.sell {
    background-color: rgb(235, 88, 88);
}

hr.line {
    border: 1px rgb(78, 1, 1);  
}

.back2 { 
    background-color: black;
    color: rgb(150, 40, 40);
    border: double;
}


